.wrapper {

}
.label {
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    padding-bottom: 8px;
    margin-right: 10px;
    z-index: 9;
}

.input {
    height: 42px;
}
.inputFocus {

    height: 42px;
    border: 1px solid #9854F6;
}
.input:hover {
    transition: 0.3s;
    height: 42px;
    border: 1px solid #9854F6;
}
.ratingRightSection {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 40%;
}
.rightSectionButton {
    border: none;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
}
.rightSectionButton:hover {
    background-color: #eaeaea;
}
.dropdown {
    transition: 0.3s;
    border-radius: 8px;
}
.options {
    border-radius: 10px;
    font-size: 23px;
}
.option::after {
    background-color: #9854F6;
    border-radius: 8px;
}
.optionChecked {
    background-color: #9854F6;
    border-radius: 8px;
}
.option:hover {
    background-color: #F2EBF9;
    border-radius: 8px;
}
.error {
    /*height: 40px;*/
    color: red;
    position: absolute;
    margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
    /*.mantine-Select-wrapper {*/
    /*    width: 95%;*/
    /*    !*margin: 10px;*!*/
    /*    height: min-content;*/
    /*}*/
    .label {
        width: 100%;
        font-size: 14px;
        /*margin-left: 20px;*/
    }
    .input {
        width: 100%;
        height: min-content;
        /*margin-left: 20px;*/
    }
}