.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
.sidebar {
    flex-basis: 20%;
}
.movie {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
