.wrapper {
    max-width: 280px;
    height: 95%;
    min-height: 100vh;
    background-color: #F2EBF9;
    display: flex;
    flex-direction: column;
    /*margin-bottom: 120px;*/
}

.logoContainer {
    max-width: 80%;
    /*height: 5%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;

}

.logoContainer img {
    width: 35px;
    height: 35px;
}

.logoContainer div {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    color: #9854F6;
    font-weight: 600;
    margin-left: 10px;
    line-height: 36px;

}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    /*height: 10%;*/
    min-height: 100px;
}

.linkActive {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    /*line-height: 22.4;*/
    padding: 10px;
    color: #9854F6;
    text-decoration: none;
    background-color: #E5D5FA;
    border-radius: 8px;
}

.linkPending {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    /*line-height: 22.4;*/
    padding: 10px;
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.linkPending:hover {
    background-color: #e8e1ee;

}

@media screen and (max-width: 600px) {
    .wrapper {
        min-width: 100%;
        height: 100px;
        min-height: 120px;
    }
    .logoContainer {
        max-width: 100%;
        justify-content: center;
        margin: 10px
    }
    .buttonContainer {
        margin: 10px;
        flex-direction: row;
        min-height: max-content;
    }
}