.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 30px;
}

.container {
    margin: 24px;
}

.linkBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    margin-bottom: 20px;
}

.movieContainer {
    /*height: 100%;*/
    width: 100%;
    background-color: #ffffff;
    border-radius: 12px;
}

.movieBlock {
    /*margin: 24px;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.movieCard {
    flex-basis: 85%;
    display: flex;
}

.posterBlock {
    margin: 24px;
    width: 250px;
    height: 352px;
}

.posterBlock img {
    width: 100%;
    height: 100%;
    /*width: 250px;*/
    /*height: 352px;*/
}

.starBlock {
    flex-basis: 15%;
    padding: 24px 50px 0 0;
}


.informBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 442px;
    min-height: 352px;
    margin: 24px 24px 24px 0;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-basis: 25%;
}

.detailsContainer {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail {
    display: flex;
    width: max-content;
}

.detail div {
    width: 140px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7B7C88;
}

.descContainer {
}

.movies {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9854F6
}

.trailerContainer {
    display: flex;
    flex-direction: column;
}

.trailerContainer p {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.trailerContainer div {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.youtubeBlock {
    width: 100%;
    min-height: 380px;
}

/*.video {*/
/*    width: 500px;*/
/*    height: 281px;*/
/*    border-radius: 9px;*/
/*}*/

.prodBlock {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 8px;
}

.movie {
    height: 281px;
    width: 500px;
    border-radius: 9px;
}

.prodBlock img {
    width: 40px;

    /*height: 40px;*/
    /*border-radius: 50%;*/
}

.prodTitle {
    font-family: Inter, sans-serif;
    font-weight: 700;
    size: 16px;
    line-height: 22px;
    margin-left: 10px;

}

@media screen and (max-width: 600px) {
    .wrapper {
        max-width: 100%;
    }

    .linkBlock {
        margin-left: 20px;
    }

    .movieBlock {
        width: 100%;
    }

    .movieContainer {
        margin: 10px;
        width: 95%;
    }

    .movieCard {
        display: flex;
        flex-direction: column;
    }

    .informBlock {
        max-height: max-content;
        min-height: min-content;
    }

    .detail {
    width: 100%;
    }

    .starBlock {
        height: min-content;
        padding: 0;
        margin: 20px 10px 0 0;
        position: absolute;
        right: 10px;

    }

    .youtubeBlock {
        width: 150px;
        min-height: 150px;
        height: 180px;
    }

    .movie {
        height: 150px;
        width: 300px;
    }

    .titleBlock {
        width: 100%;
        justify-content: center;
        margin: 10px;
    }

    .informBlock {
        margin: 10px;
    }
}