.wrapper {
    background-color: #F5F5F6;
    /*display: flex;*/
    align-items: start;
    min-height: 100vh;

}
.logoContainer {
/*align-items: start;*/
    height: 10%;
    position: absolute;
}
.mainContainer {
    width: 100%;
    height: 100vh;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBlock {
    /*margin: 0 auto;*/
    width: 656px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pictureBlock {

    width: 100%;
    min-height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pictureBlock img {
    width: 542px;
    height: 40px;
}
.picture {
    height: 50px;
    display: flex;
}
.descBlock {
    max-width: 401px;
    max-height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}
.descBlock div {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}
.homeButton {
    padding: 10px 20px 10px 20px;
    width: 103px;
    height: 40px;
    background-color: #9854F6;
    border-radius: 8px;
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
}